@forward "utilities";
@forward "components";
@use "utilities" as ut;
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Noto+Serif+JP&family=Sono&display=swap");

:root {
  --darkColor: rgb(12, 11, 14);
  --greenColor: rgb(77, 189, 62);
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
  @include ut.breakpoint(medium) {
    font-size: 2rem;
  }
}

body {
  background-color: rgb(236, 228, 217);
  font-family: "Jost", sans-serif;
  font-family: "Noto Serif JP", serif;
  font-family: "Sono", sans-serif;
  padding-top: 0px;
  background-color: var(--darkColor);
  color: white;
}

button {
  background-color: var(--darkColor);
  color: whitesmoke;
  font-size: 3rem;
  border-radius: 10px;
  border: 1px solid rgb(94, 92, 92);
  transition: 0.3s;
  padding: 10px;
  @include ut.breakpoint(medium) {
    font-size: 2rem;
  }
  &:hover {
    cursor: pointer;
  }
}

label {
  font-size: 1.5rem;
}

dialog {
  border-radius: 10px;
  border: 3px solid rgb(230, 221, 221) !important;
  transition: 1s;
  background-color: var(--darkColor);
  color: aliceblue;
}

input {
  font-size: 2rem;
  border-radius: 10px;
  outline: none;
  border: 3px solid var(--darkColor);
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: gainsboro;
  color: var(--darkColor);
  width: 100%;
  @include ut.breakpoint(medium) {
    font-size: 1.5rem;
  }
  &:focus {
    background-color: aliceblue;
    outline: 2px solid rgb(29, 100, 231);
    /* box-shadow: 1px 5px 8px rgb(29, 100, 231); */
  }
}

/* to remove arrow from [Input[type="number"]] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid red;
}

input:not(:focus):not(:placeholder-shown):valid {
  outline: 2px solid rgba(30, 255, 0, 0.644);
}

.shakeAnimation {
  animation: shake 0.6s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
