@import url('https://fonts.googleapis.com/css2?family=Jost&family=Noto+Serif+JP&family=Sono&display=swap');

:root {
    --darkColor: rgb(12, 11, 14);
}

body {
    background-color: rgb(236, 228, 217);
    font-family: 'Jost', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Sono', sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* margin: 0; */
    padding-top: 0px;
    background-color: var(--darkColor);
    color: white;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.addBook {
    display: flex;
    justify-content: center;
}



button {
    background-color: var(--darkColor);
    color: whitesmoke;
    font-size: 3rem;
    border-radius: 10px;
    border: 1px solid rgb(94, 92, 92);
    transition: 0.3s;
    padding: 10px;
}



label {
    font-size: 1.5rem;
    /* padding-right: 120px; */
}

.sectionTwo {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.display {
    /* grid-column: 1/3; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
    /* border: 2px solid rgb(133, 130, 130); */
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    transition: 1s;
}

.eachBookStyle {
    margin: 10px;
    padding-top: 0;
    border-radius: 10px;
    transition: 1s;
    background-color: gainsboro;
    color: var(--darkColor);
    /* border: 3px solid rgb(247, 50, 50); */
    font-size: 1.1rem;
    /* height: 100%; */
    /* box-shadow: rgba(52, 224, 0, 0.534) 0px 7px 29px 0px; */
    /* box-shadow: 1px 1px 15px 1px rgba(166, 211, 153, 0.411); */
}

.hideSection>div,
.hideSection>span,
.nameSpan,
.nameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .eachBookStyle>div,
.eachBookStyle>span {
    display: flex;
    justify-content: center;
} */

.eachBookStyle>span,
.hideSection>span {
    font-weight: bold;
    padding: 5px;
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
}

/* to remove arrow from [Input[type="number"]] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nameSpan {
    /* display: flex;
    justify-content: center; */
}

dialog {
    border-radius: 10px;
    border: 3px solid rgb(230, 221, 221) !important;
    transition: 1s;
    background-color: var(--darkColor);
    color: aliceblue;
}

.modal::backdrop {
    background-color: rgb(160, 153, 153);
    opacity: 0.5;
    transition: 1s;
}

input {
    border-radius: 10px;
    outline: none;
    border: 3px solid var(--darkColor);
    text-align: center;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
    background-color: gainsboro;
    color: var(--darkColor);
}

.submitBtnDiv {
    display: flex;
    justify-content: center;
}

.submitBtn {
    display: flex;
    width: 55%;
    color: var(--darkColor);
    background-color: gainsboro;
    font-size: 2rem;
    border: 2px solid white;
}

.submitBtn:hover {
    background-color: aliceblue;
    color: var(--darkColor);
    width: 100%;
    /* font-size: 3rem; */
}


h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.submitBtn {
    /* background-color: black; */
    font-size: 2.5rem;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
}

.styleHead {
    text-align: center;
}

.readBtnDiv,
.readBtnDivDisplay {
    margin: 0px;
    margin-top: 5px;
    display: flex;
    flex-grow: 1;
    align-items: stretch !important;
}

.readBtn,
.readBtnDisplay {
    background-color: rgb(77, 189, 62);
    flex-grow: 1;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border: 2px solid rgb(247, 247, 247);
    color: var(--darkColor);
    font-weight: bold;
}

.notReadStatus {
    background-color: red;
    transition: 0.5s;
}

.defaultColor {
    background-color: rgb(77, 189, 62);
    border: 3px solid rgb(255, 255, 255);
}

.iconSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    margin: 0;
}

.deleteBtn,
.minimizeIcon {
    all: unset;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 2rem;
    transition: 0.5s;
    border-radius: 5px;
    color: var(--darkColor);
    text-align: center;
    margin: 2px;
    transform: scale(.80);
    background-color: aliceblue;
}

form>.readBtnDivDisplay>.readBtnDisplay {
    /* background-color: rebeccapurple !important; */
    transform: scale(1.05);
}

form>.readBtnDivDisplay>.readBtnDisplay:hover {
    transform: scaleY(1.1)
}


.deleteBtn:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    transform: scale(1.05);
    border-radius: 50%;
    background-color: var(--darkColor);
}

.addBookBtn {
    background-color: white;
    color: var(--darkColor);
    border: 1px solid rgb(255, 255, 255);
    /* transition: 0.3s; */
    /* transform: scale(1.05); */
}

.addBookBtn:hover {
    background-color: var(--darkColor);
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    transform: scale(1.05);
}

.readBtn,
.readBtnDisplay:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.minimizeIcon {
    background: center/contain url(./img/checkbox.png) no-repeat;
    background-color: rgb(77, 189, 62);
    width: 10%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.minimizeIcon:hover {
    transform: scale(1.05);
    border-radius: 50%;
}

.minimizeIconOn {
    background: center/contain url(./img/eye.png) no-repeat;
    background-color: red;
    transition: 0.5s;
    /* height: 100%;
    border-radius: 10px;
    color: rgb(0, 0, 0); */
}

.showMoreDivHide {
    display: none;
    /* transition: 1s; */
}

.eachBookStyleHeight {
    max-height: 155px;
    /* transition: 10s; */
}

/* .showMoreDiv {
    background-color: rgba(223, 219, 219, 0.993);
} */

.showMoreIcon {
    background: center/contain url(./img/down.png) no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    transition: 1s;
}

.showMoreIcon:hover {
    transform: scale(1.05);
}

.shakeAnimation {
    animation: shake 0.6s;
    /* animation-iteration-count: 10s; */
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}