body {
    background-color: rgb(236, 228, 217);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    text-align: center;
}

.addBookBtn {
    display: flex;
    justify-content: center;

}

button {
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
    border-radius: 10px;
    border: 1px solid rgb(94, 92, 92);
    transition: 0.3s;
    padding: 10px;
}

button:hover {
    background-color: aliceblue;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1.2);
}

button:active {
    transform: scale(1);
    transition: 0.6s;
}

label {
    font-size: 1.5rem;
    /* padding-right: 120px; */
}

.sectionTwo {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.display {
    /* grid-column: 1/3; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: row;
}

.eachBookStyle {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; */
    border: 3px solid rgb(189, 18, 18);
    /* max-height: 250px; */
    margin: 10px;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.eachBookStyle>div,
.eachBookStyle>span {
    display: flex;
    justify-content: center;
}

.eachBookStyle>div {
    font-weight: bold;
}

/* .eachBookStyle>span {
    font-style: italic;
} */

.nameSpan {
    /* display: flex;
    justify-content: center; */
}

dialog {
    /* background-color: rebeccapurple; */
    border-radius: 10px;
    border: 3px solid black !important;

}

input {
    border-radius: 10px;
    outline: none;
    border: 2px solid rebeccapurple;
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.submitBtn {
    /* background-color: black; */
    font-size: 2.5rem;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
}

.styleHead {
    text-align: center;
}

.readBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.readBtnDiv>button {
    font-size: 1rem;
    background-color: rgb(77, 189, 62);
    color: black;
    flex-grow: 1;
    margin: 0px;
    font-size: 1rem;
    /* max-width: 50%; */
    /* transform: scale(1.2) !important; */
}

.deleteDiv {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: end !important;
    /* align-items: center !important; */
}

.deleteBtn {
    font-size: 1rem;
    background-color: rgb(255, 0, 0);
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: rgb(0, 0, 0);
    font-size: 3rem;
}